@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.qr {
  height: auto;
  margin: 0 auto;
  max-width: 150px;
  width: 100%;
}
body{
  font-family: "Outfit", sans-serif;
 font-size: 15px;
  
}

